.container{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}


.on{
  animation: breathe 2s ease-in-out infinite;
}
@keyframes breathe {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }